{% extends 'layout.html' %}
{% block title %}Profil{% endblock %}
 {% block styles %}
    <style>
        
        body {
            font-family: 'Noto Sans', sans-serif;
            background-color: #141414;
            color: white;
            background-size: cover;
        }
        body::after {
            content: "";
            background: url("https://wallpaperaccess.com/full/8212583.jpg");
            opacity: 0.5;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            position: absolute;
            z-index: -1;
        }
        .profile-section {
            margin-top: 40px;
        }
        .profile-info, .account-settings, .activity-info, .notifications, .feedback {
            background-color: #888888;
            padding: 20px;
            margin-bottom: 20px;
            border-radius: 10px;
        }
        .profile-info h3, .account-settings h3, .activity-info h3, .notifications h3, .feedback h3 {
            color: #ebe5e6;
            font-size: 24px;
            font-weight: bold;
        }
        .btn-red{
            background-color: #d9534f;
            border: none;
        }
        .btn-red:hover{
            background-color: lightcoral;
        }
        label {
            margin-top: 10px;
            color: #000000;
        }
    </style>
    {% endblock %}
    {% block content %}


   
    
    <div class="container pt-4">
        <h2>User Profile</h2>

        <!-- Basic Information -->
        <div class="profile-info">
            <h3>Basic Information</h3>
            <p><strong>Name:</strong> {{ current_user.username }}</p>
            <p><strong>Email:</strong> {{ current_user.email }}</p>
            <p><strong>Favorite Genres:</strong> {{ current_user.favorite_genres }}</p>
            <button class="btn btn-red" data-toggle="modal" data-target="#editProfileModal">Edit Profile</button>
        </div>

        <!-- Account Settings -->
        <div class="account-settings">
            <h3>Account Settings</h3>
            <button class="btn btn-red" data-toggle="modal" data-target="#changePasswordModal">Change Password</button>
        </div>

        <!-- Activity Info -->
        <div class="activity-info">
            <h3>Activity</h3>
            <p><strong>Movies in Watchlist:</strong> {{ watchlist_count }}</p>
            <p><strong>Total Recommended Movies:</strong> {{ rec_movies_count }}</p>
        </div>
    </div>

    <!-- Edit Profile Modal -->
    <div class="modal fade" id="editProfileModal" tabindex="-1" role="dialog" aria-labelledby="editProfileModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form action="{{ url_for('edit_profile') }}" method="POST">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editProfileModalLabel">Edit Profile</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <label for="favoriteGenres">Favorite Genres:</label>
                        <input type="text" id="favoriteGenres" name="favorite_genres" class="form-control" value="{{ current_user.favorite_genres }}">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-red" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-red">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Change Password Modal -->
    <div class="modal fade" id="changePasswordModal" tabindex="-1" role="dialog" aria-labelledby="changePasswordModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form action="{{ url_for('change_password') }}" method="POST">
                    <div class="modal-header">
                        <h5 class="modal-title" id="changePasswordModalLabel">Change Password</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <label for="newPassword" style="margin-top: 10px;">New Password:</label>
                        <input type="password" id="newPassword" name="new_password" class="form-control">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-red" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-red">Change Password</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    {% endblock %}
    